__pycache__/
*.pyc
.env
*.pt
*.bin
checkpoints/
# Abaikan file checkpoint model AI berukuran raksasa
results/checkpoints/**/optimizer.pt
results/checkpoints/**/rng_state.pth
results/checkpoints/**/scheduler.pt

.venv/
